@page "/"
@using System.Text.Json
@using GameLobbySignalRTemplate.Shared.Models.Alias
@inject HttpClient HttpClient

<PageTitle>Index</PageTitle>

@if(Alias is not null)
{
    <span>@Alias.Name</span>
}
<button @onclick="FetchAlias">New Name</button>

@code{
    public AliasDto? Alias {get; private set;}
    protected override async Task OnInitializedAsync()
    {
        await FetchAlias();
    }
    private async Task FetchAlias()
    {
        var request = new HttpRequestMessage(HttpMethod.Get,"/api/alias");
        var response = await HttpClient.SendAsync(request);
        if (response.IsSuccessStatusCode)
        {
            Alias = await response.Content.ReadFromJsonAsync<AliasDto>();
            StateHasChanged();
        }
    }
}